*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.out
*.toc
*.xdv
*.log
!/leb/sources/Download the Lexham English Bible.pdf
!/leb/sources/About the Lexham English Bible.pdf
!/leb/sources/The Translation Process.pdf
!/leb/sources/Preface to the Lexham English Bible.pdf
!/leb/sources/License for the Lexham English Bible.pdf
!/leb/content/NWT-concordance-6x9.pdf
/leb/processing/sources/0.raw/cover-design.xcf
/leb/processing/sources/0.raw/LEB-edited.xml
/leb/processing/sources/1.standardise/Bible_Database/
/leb/processing/sources/0.raw/cover-design2.xcf
/leb/processing/sources/0.raw/cover-design.jpg