*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.out
*.toc
*.xdv
*.log
!/leb/sources/Download the Lexham English Bible.pdf
!/leb/sources/About the Lexham English Bible.pdf
!/leb/sources/The Translation Process.pdf
!/leb/sources/Preface to the Lexham English Bible.pdf
!/leb/sources/License for the Lexham English Bible.pdf
